body {
  background-image: url("/assets/images/bg-desktop.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(112, 17, 201);
  font-family: "Poppins-Regular";
}
.container {
  overflow: auto;
}
.navigation {
  align-items: center;
  padding-left: 40px;
}
.nav-logo {
  margin: 50px 50px;
}

.body-container {
  position: absolute;
}

.body-image {
  max-width: 100%;
  position: relative;
  z-index: 1;
  float: left;
}
.example-photo {
  height: 140%;
  margin-left: 100px;
  width: 130%;
}
.body-text {
  width: 30%;
  color: white;
  align-items: center;
  margin-top: 50px;
  margin-right: 130px;
  position: relative;
  z-index: 1;
  float: right;
}
.body-title {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.body-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.button {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  border-radius: 25px;
  height: 50px;
  color: blueviolet;
  text-align: center;
  vertical-align: middle;
  width: 170px;
  font-size: 16px;
  letter-spacing: 1px;
}
.button:hover {
  background-color: violet;
  color: white;
}
.footer-container {
  justify-content: flex-end;
  display: flex;
  margin-top: 800px;
}
.footer_item {
  text-align: center;
  width: 20px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  color: white;
  vertical-align: center;
  padding: 10px;
  margin: 5px;
}
.footer_item:hover {
  color: violet;
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.body-title {
  line-height: 1.35;
}
.body-paragraph {
  line-height: 1.8;
  letter-spacing: 2px;
}

@media all and (max-width: 500px) {
  body {
    background-image: url(/assets/images/bg-mobile.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .navigation {
    padding-left: 0px;
    margin-right: 200px;
  }
  .nav-logo {
    max-width: 50%;
  }
  .body-image {
    width: 70%;
    align-self: center;
    margin-right: 150px;
  }
  .example-photo {
    margin-left: 30px;
    align-items: center;
  }
  .body-text {
    width: 200px;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 150px;
    position: relative;
    z-index: 1;
    float: none;
  }
  .body-title {
    font-size: 15px;
  }
  .body-paragraph {
    align-self: center;
    font-size: 15px;
    line-height: 15px;
    word-spacing: 3px;
    letter-spacing: 1px;
  }
  .footer-container {
    margin-top: 650px;
    margin-right: 175px;
  }
}
